<div id="show_webready" class="dashboard_data_container dashboard_webready">
<table id="dashboard_table" cellpadding="0" cellspacing="0">
	<tr>
	  <th>&nbsp;</th>
	  <th><a href="#" rel="sort" class="follow_up_date">Follow-up Date</a></th>
	  <th><a href="#" rel="sort" class="company">Contact Information</a></th>
	  <th><a href="#" rel="sort" class="value">1 Year Value</a></th>
	  <th><a href="#" rel="sort" class="last_mod">Last Modified</a></th>
	  <th><a href="#" rel="sort" class="next_step">Next Step</a></th><th>&nbsp;</th>
	</tr>

	<% @webready.each do |w| %>

	<tr>
		<td><%= link_to "",build_edit_path(:id => w.id), :class => "dashboard_edit" %></td>
		<td>03/12/2012</td>
		<td><p><%= w.company %></p>
				<p><%= w.name %></p>
				<p><%= w.address %></p>
				<p><%= w.phone %></p>
				<p><%= w.email %></p>
				<p><%= w.url %></p>
				<p><%= link_to "Edit","#" %></p>
		</td>
		<td>$0</td>
		<td>4/6/2012</td>
		<td>Email Client</td>
		<td><a href="#" class="dashboard_archive" id="archive_129"></a></td>
	</tr>
	
	<% end %>
	
</table>

<div class="dashboard_button_container">
    <%= link_to "",contracts_webready_path,:class => "start_new_button" %>
</div>

</div>
