

<div class="admin_record admin_edit">
	
<%= form_for [:admin, t], :remote => true, :html => { :class => 'update', :method => :put } do |f| %>

		<%= f.hidden_field(:id, :class => 'template_id') %>

		<%= f.label(:name, "Name: ") %>
	
		<div class="input_wrapper_name">
		<%= f.text_field(:name, :class => 'name') %>
		</div>
	
		<%= f.label(:hours, 'Hours: ') %>
		<div class="input_wrapper">
		<%= f.text_field(:hours) %>
		</div>
		
		<%#= f.label(:cost, 'Cost: ') %>
		<!--<div class="input_wrapper">-->
		<%= f.hidden_field(:cost, :value => '0') %>
		<!--</div>-->
	
		<%= link_to '', admin_professional_page_path(f.object.id), :method => :delete, :remote => true, :class => 'delete_button' %>
		<%= submit_tag('', :class => 'update_button') %>
		
		
		<!--# '', admin_professional_page_path(f.object.id), :method => :put, :remote => true, :class => 'update_button' %>-->
	
		<div class="clear"></div>
	
		<%#= link_to 'Edit Description', '', :remote => true, :class => 'add_desc' %>
	
		<div class="desc_box" style="display: block;">
			<%= f.label(:description, 'Description: ') %>
			<%= f.text_area(:description, :class => 'wysiwyg-template creation_template') %>
			<div class="clear"></div>
		</div>
	
		<% end %>
		
</div>
