<div class="alt_box">
<strong>Date Issued: <%= @t.strftime('%B %d, %Y') %></strong>
<p>This Agreement defines the nature of the work to be performed by Blue Fountain Media (BFM), located at 102 Madison Avenue, 2nd Floor, New York, NY 10016, for <%= @contract.company %> (Client) described below and the following Scope of Work:</p>
<p><strong>Client Representative: </strong>			<%= @contract.name %></p>
<p><strong>Company: </strong>				<%= @contract.company %></p>
<p><strong>Company Address:	</strong>		<%= @contract.address %></p>
<p><strong>Email: 		</strong>			<%= @contract.email %></p>
<p><strong>Phone:	</strong>				<%= @contract.phone %></p>
</div>