<p>Dear <%= @contract.name %>, </p> 

<p>On behalf of the Blue Fountain Media team, I am pleased to present you with this proposal for the discovery, planning, design, development and launch of <%= @contract.company %>  / <%= @contract.url %>. The following provides you with the details of the processes associated with building your new website. </p>

<p>We understand our specific objectives to be:</p>
<ol>
<li>Develop a high-end looking, fresh and professional website that properly represents the nature of <%= @contract.company %>'s brand positioning.</li>

<li>Improve the overall functionality and user interface to encourage increased browsing, repeat visits and higher conversions.</li>

<li>Improve navigation and graphical presentation of your homepage and interior subpages.</li>

<li>Develop a customized Content Management System (CMS) for improved and more complete control over all aspects of your website. </li>
</ol>  



<h2>YOUR TEAM</h2>

<p>Once we get underway, we will assign a team of professionals to your project, each representing the various disciplines that go into building a customized, high-end online presence. This team will be led by an Account Director, who will become your main point of contact and take the lead in managing your project. </p>

<p>Your Account Director will ensure that project deadlines and milestones are met and that our team adheres to the Scope of Work below. Along the way, your Account Director will also proactively offer recommendations to enhance your site's usability, functionality, and help you further your online initiatives. </p> 

<p><strong>Account Director: </strong> An expert in online business development, website design and online marketing who will work with you in all aspects and phases of your project. He or she will become your main point of contact throughout the duration of our partnership.</p>

<p><strong>Business Consultant: </strong> To work with you and your Account Director to proactively offer suggestions and counsel for solutions to better ensure the success of Client's project(s) and online business goals. </p>

<p><strong>Information Architect:</strong> An expert in usability, website design architecture and technology, to create your project's sitemap, layout wireframes, user interface, and define your feature list &hellip;</p>

<p><strong>Creative Strategist:</strong> Researches and applies a comprehensive strategy and overall stylistic direction and theme; ensuring your needs, goals, and messaging are consistently expressed.</p>

<p><strong>Online Marketing Strategist: </strong>To ensure your website's layout is optimized for search engines and that your overall site message and calls to action are effective for stronger conversions. </p>

<p><strong>Website Designer: </strong> To create your site with appropriate colors, look / feel so that is consistent with your brand and appeals to your target market. </p>

<p><strong>Project Manager:</strong> To lead all technical aspects of your site and manage your development team.</p>

<p><strong>Front-end Coder:</strong> To code your site's Front-end features.</p>

<p><strong>Back-end Developer:</strong> To build your site's Back-end functionality and content management system features.</p>

<p><strong>Quality Assurance Lead:</strong> To ensure your customized site functions properly and works well across various browsers and operating systems.</p>


<h2>SCOPE OF WORK</h2>

<h3>Provisional Pages and Features</h3>

<p>This Scope of Work and associated cost estimate is based upon the provisional pages and features provided below.</p>

<p>The structure of the pages, features and functionalities are subject to change as the project progress.  Adding additional pages or features, may affect project price. </p> 
<p>Additional changes will not be implemented without Client approval. All quotes will be provided in advance by BFM and will be contingent on Client's approval before beginning work. Project Scope and corresponding project price will change only with Client's consent.</p>

<p><strong>HC – Hard Coded</strong>
Hard Coded means that this element will not be manageable through the CMS, but can be changed by a developer.  </p>

<p><strong>CMS – Content Management System</strong>
CMS means that this item can be managed in the content management system of the website.  If it is non-standard functionality, a more detailed explanation for the CMS functionality may be provided below.</p>

<p><strong>DYN – Dynamic Element</strong>
Dynamic Elements are created dynamically by the CMS.  The admin will have no control over these items, even though they are being created by the Back-end of the site.  An example would be page titles or breadcrumbs.</p>

<p>NOTE: A basic content page contains a WYSIWYG (What You See Is What You Get) text editor to edit the body of the page. Each of the features listed below are referenced in Appendix A.</p>

<h3>List of Pages and Features</h3>
<p><strong>Home</strong></p>
<ol>
<li>Banner Carousel (HC)</li>
<li>News Widget (DYN)</li>
<li>Testimonial (HC)</li>
<li>Text Box (HC)</li>
<li>Photo Widget (DYN)</li>
</ol>
<p><strong>Events</strong></p>
<ol>
<li>Events Landing Page (DYN) with Events Calendar (DYN)</li>
<li>Events Detail (CMS) with Events Calendar (DYN)</li>
<li>Events RSVP Page </li>
</ol>
<p><strong>News</strong></p>
<ol>
<li>Multiple Article Pages (DYN)</li>
<li>Articles (CMS)</li>
</ol>
<p><strong>Services</strong></p>
<ol>
<li>Subpage Support (DYN)</li>
<li>Subpages (CMS)</li>
</ol>
<p><strong>About Us</strong></p>
<ol>
<li>Basic Content Page (CMS)</li>
</ol>
<p><strong>Contact Us</strong></p>
<ol>
<li>Contact Form Page (CMS/DYN)</li>
</ol>

<h3>Global Elements</h3>
<p><strong>Appear on every page</strong></p>
<p>Header</p>
<p>Logo (HC)</p>
<p>Phone Number (HC)</p>
<p>Social Media (HC)</p>
<p>Newsletter Signup (HC)</p>
<p>Breadcrumbs (DYN)</p>
<p>Subpage Sidebars</p>
<p>Services Page</p>
<p>Photo Gallery Widget (DYN)</p>
<p>All Pages</p>
<p>Feature 2 (Type)</p>
<p>Feature 3 (Type)</p>
<p>Footer</p>
<p>Sitemap (HC)</p>
<p>Copyright (HC)</p>
<p>Phone Number (HC)</p>
<p>Social Media (HC)</p>
<p>Newsletter Signup (HC)</p>
<p>Site Credits (HC)</p>



<h2>PHASE 1: DISCOVERY &amp; PLANNING	</h2>

<h3>Project Kick-Off</h3>

<p>Upon execution of this Agreement, and receipt of initial project payment, BFM will set a date a time for a formal, in-person kick-off meeting. In attendance will be:</p>

<p>Client representative(s) including key decision makers for the project</p>
<p>BFM Team</p>

<p>Prior to this meeting, Client will complete a BFM-provided Project Questionnaire to the best of their ability. Upon receiving the completed Project Questionnaire from Client, BFM will:</p>

<p>Brief the team on the assignment prior to the kick-off meeting</p>
<p>Provide Client with a kick-off meeting agenda</p>

<h3>Post Kick-Off</h3>

<p>After the Kick-off meeting, BFM Account Director will send Client a re-cap memo with a summary of the kick-off meeting and detail next-steps.</p>

<h3>Client &amp; Stakeholder Interviews</h3>

<p>Blue Fountain Media (BFM) will conduct interviews with key decision makers in the project (Such as the organization's CEO, top consumers and sales force). 

<p>Time will be used to understand Client business goals, technical needs, design preferences and overall online objectives. 

<h3>Goal Analysis</h3>

<p>BFM will collaborate with Client to document website goals and targets for the project. These goals will be reviewed in detail with Client's team.

<p>The objective is to ensure a clear picture prior to moving forward with the design phase and duration of the project.

<h3>Client Content</h3>

<p>All Client-provided content including images, copy and copies of current existing databases, will be collected and provided to BFM in the form of a USB, disk or file transfer service prior to beginning design. </p>

<h3>Strategic Brief</h3>

<p>The 'Strategic Brief' process will be a useful reference for all members of the team. The goal of this process is to provide consolidated, Client-approved research and contextual references to all members of the team.</p>

<p>Depending on the project scope, the Strategic Brief, developed by the Creative Strategist (CS) may be comprised of some or all of the following itemized deliverables within a project lifecycle:</p>

<p>Project Goals - Long-term and short-term</p>
<p>Comparative Competitor Analysis</p>
<p>Target Audiences</p>
<p>Market Positioning</p>
<p>User Pathways</p>
<p>Distinct Value Propositions</p>
<p>Content Strategy</p>
<p>Image Selection</p>
<p>Color Mapping</p>
<p>Iconography</p>
<p>Copy tone</p>
<p>Messaging</p>
<p>Calls to action</p>
<p>Stickiness Factors</p>
<p>Social Media Factors</p>

<p>By ensuring clear and consistent communication between Client and the BFM team, the Creative Brief will help to clearly outline specified goals in an efficient and streamlined manner. </p>

<h3>Wireframes &amp; Information Architecture</h3>

<p>BFM will create one (1) custom homepage wireframe and four (4) unique subpage wireframes for Client review and approval. Approved wireframes will serve as a clean, accurate rendering of your website's layout, functionality and features and guide the design phase.</p>

<p>Two (2) hours of edits are allocated to the homepage wireframe applied through a maximum of two (2) rounds of revisions.
One (1) hour of edits are allocated to each subpage applied through a maximum of one (1) round of revisions.</p>

<p>Any additional wireframe changes requested after the allotted hours, or number of revisions, will be billed at BFM's standard hourly rate. All quotes will be provided in advance by BFM and will be contingent on Client's approval before beginning work.  </p>

<p>Client will provide all edits to BFM in writing. All edits will be documented and checked off as "done" when completed by an information architect. Client will also provide the final approval of wireframes in writing to BFM.</p>

<h3>Copywriting For SEO</h3>

<p>BFM will provide copywriting services for Client website by leveraging the expertise of our copywriting and creative teams to accurately convey a message whose intention is defined by Client.</p>

<p>Initial research pertinent to Clients messaging objectives will be conducted by the BFM team and all collateral goals will be documented and reviewed in detail with Client's team prior to beginning work.</p>

<p>Once the goals are approved, BFM will create a rough draft of Client's messaging, based on the results of the initial research and Client interviews.  </p>

<p>BFM will produce copy for up to five (5) pages of the website and will ensure that the website copy includes the following:</p>

<p>Overall readability and main messaging</p>
<p>Keywords within the site's content</p>
<p>Interlinking with keyword-rich anchor text</p>
<p>Navigation text appropriate for SEO (Search Engine Optimization)</p>

<p>This initial draft will be delivered to Client for review.</p>

<p>One (1) hour of edits per page are allocated to the website copy. </p>
<p>If additional hours of edits are required, they will be billed at BFM's standard hourly rate.</p>

<p>BFM will deliver the final copywriting collateral to Client in a .ZIP format. </p>

<h2>PHASE 2: DESIGN VISUALIZATION</h2>

<p>BFM will create one (1) custom mockup for the homepage, and two (2) unique subpage mockups, listed below, for Client's review and approval.</p>

<p>Homepage</p>
<p>Universal Content Page</p>
<p>Subpage 1</p>

<p>Approved pages and subpages will provide the structure and layout for the remaining pages. </p>

<p>Four (4) hours of edits are allocated to the homepage mockup applied through a maximum of two (2) rounds of revisions.
Two (2) hours of edits are allocated to each unique subpage mockup applied through a maximum of one (1) round of revisions.</p>

<p>Any additional design changes requested after the allotted hours, or number of revisions, will be billed at BFM's standard hourly rate. All quotes will be provided in advance by BFM and will be contingent on Client's approval before beginning work.  </p>

<p>Client will provide all edits to BFM in writing. All edits will be documented and checked off as “done” when completed by a designer. Client will also provide the final approval of mockups in writing to BFM.</p>

<p>BFM may opt to use non-system fonts or stock photography in the design of this project.  In the event that a font is used which requires a license, the Client will be notified and given the option to purchase the license themselves, or have BFM make the purchase on their behalf for a fee of $50 + the cost of the font and/or stock image.</p>

<h2>PHASE 3: WEBSITE DEVELOPMENT</h2>

<p>Upon approval of Website design mockups, a team of Front-end developers will code the website pages in HTML/CSS. </p>

<p>All coding will be completed in-house, by senior-level developers. </p>

<p>Within one week of moving into development, a BFM Project Manager will provide a comprehensive timeline of deliverable dates, review dates, and project milestones (including quality assurance cycles).  </p>

<h3>Technical Specifications</h3>

<p><strong>Front-end Coding Languages: </strong>		HTML / CSS / AJAX / JavaScript / jQuery </p>
<p><strong>Back-end Coding Language:	 </strong>	PHP	</p>
<p><strong>Database Type: 	 </strong>			MySQL</p>
<p><strong>Content Management System (CMS):	 </strong><%= @build.cms_type.capitalize %></p>

<p>BFM will produce front-end development for the pages defined in this agreement. Front-end development includes all HTML, CSS, and Javascript functionality which is defined above.</p>

<p>BFM has a professional team of developers experienced in multiple programming languages. If Client chooses to develop in a language other than what is documented above, they must alert their Account Director prior to project kick off. Changes to programming or development languages may impact project time and cost estimate. </p>

<h3>Content Management Development (CMS)</h3>

<p>BFM's development team will configure and develop a user-friendly back-end CMS, which will consist of features for managing the content on the completed website.</p>

<p>The CMS will be flexible for future development and can be easily updated or expanded by a qualified web developer in the future.  See Appendix A for detailed feature descriptions. </p> 

<h3>SEO Preservation </h3>

<p>Blue Fountain Media will take measures to ensure your site is set up in accordance with Search Engine Optimization (SEO) best practices, and that any existing SEO value is carried over to the new website.</p>

<p>Set up of Google Analytics and goal tracking to enable analysis of traffic, referrals, user behavior and website performance statistics. If the Client already has Google Analytics, user account credentials will be requested by BFM team.
Set up goal tracking and sales funnel tracking (if applicable) in Google Analytics to enable Client to analyze website conversions. </p>

<p>Creation and submission of .XML Sitemap to Google Webmaster Tools for indexing.</p>

<p>Creation of URL redirect map for implementation by the development team to ensure all pages from the old website are redirected to the appropriate corresponding page on the new site wherever applicable.</p>

<p>Ensure proper implementation of canonical links to avoid duplicate content issues. A canonical, or "canon" page is the preferred version of a set of pages with highly similar content. "Canonicalizing" ensures your site is not penalized by search engine algorithms for having duplicate content.)</p>

<h2>PHASE 4: QUALITY ASSURANCE TESTING &amp; LAUNCH</h2> 	

<p>BFM develops websites using current quality assurance standards and practices throughout the duration of the development process.</p>

<p>Client will be provided with access to view and test the site during the review & QA cycles within the development phase and prior to launch.</p>

<h3>Cross Browser Compatibility</h3>

<p>BFM development team will ensure cross browser compatibility for the most recent version (at the time of development start) of the following web browsers:</p>

<p>Internet Explorer versions 7.0+</p>
<p>Mozilla Firefox</p>
<p>Google Chrome</p>
<p>Safari (Mac OS)</p>
<p>Opera</p>

<p>Upon completion of browser testing, BFM development team will adjust and optimize the coding of Client's website so it displays as intended on the aforementioned browsers.</p>

<h3>Mobile Browser Compatibility </h3>

<p>BFM development team will ensure compatibility for the most recent version (at the time of development start) of the following mobile browsers:</p>

<p>Safari iOS</p>
<p>Android</p>

<p>Porting flash to HTML 5 or jQuery may incur additional charges.  Written Client approval is required prior to any work being performed.</p>

<h3>Content Management System Training </h3>

<p>The assigned BFM Account Director will provide a one-hour CMS training session after the site launches.
This session may take place in person (at the BFM offices) or via GoTo Meeting. </p>

<p>A recording of the training session can be provided at Clients request (request must be made prior to the training session).</p>

<p>Formal written CMS documentation may be produced upon request and for an additional fee. </p>

<h2>PROJECT ASSUMPTIONS </h2>

<p>This section addresses various services, assumptions and technical considerations related to the deliverables within this Scope of Work. </p>

<p>If any of the items below do not meet your expectations, it should be discussed prior to executing the agreement.</p>

<h3>Content Transfer</h3>

<p>BFM will add client-provided, formatted content to the main pages of the site only (during beta/testing phase). "Main Pages" includes each of the top level pages included in the main navigation of the site, as well as one basic secondary page.  This does not include additional secondary/subpages within the site.</p>

<p>If your website includes a photo gallery or e-commerce store, BFM will upload content for up to two (2) products and will train the site Administrator on how to add the remaining items using the CMS. This allows for both team to collaborate and for Client to become familiar with the Back-end of the site.</p>

<p>If Client wishes to have BFM upload, install and format content for all of the website's pages, BFM can provide an additional estimate upon request. </p>

<h3>Product Migration (product-based content)</h3>

<p>BFM will provide Client with an excel spreadsheet with all product fields to be filled in for product importing. </p>
<p>Client will populate the excel spreadsheet based on their existing product database.</p>
<p>BFM will import the database into the new content management system</p>
<p>Client will be responsible for formatting product descriptions (text) such as creating paragraphs</p>
<p>Client will be responsible for sizing images and image upload </p>
<p>If Client wishes to have BFM upload and format product content and images for all product pages, BFM can provide you with an additional estimate upon request. </p>

<h3>Stock Files (photography, images, video, music, illustrations and animations)</h3>

<p>This Scope of Work does not include time to research, find and source stock files from 3rd parties such as iStockphoto, or the cost to purchase stock files and assumes that all photography, images, video, music, illustrations or animations will be provided by Client.</p>
<p>If Client wishes to have BFM source stock files and purchase them on Client's behalf, BFM can provide you with an additional estimate upon request.</p>

<h3>Databases &amp; 3rd Party Integrations</h3>

<p>Data migration is not included in the scope of this agreement.  In order to provide an accurate estimate for data migration from a currently existing website, BFM will need a copy of the database or an excel document.  </p>
<p>This Scope of Work does not include database migration or engineering.  An estimate can be provided for database migration upon request. </p>
<p>This Scope of Work does not include 3rd party ERP, API, or web services integration, consulting, or cost to purchase software.  An estimate can be provided for 3rd party integrations upon request. </p>



<h3>Project Management &amp; Consulting </h3>

<p>20% of the total project time is allocated to project management tasks such as Client communication and team coordination. 
Total time allocated is based on project scope.</p>
<p>All team members' time, including Account Director's time, is billable. The Account Director will notify Client should they begin consuming allotted hours at a rate that will cause them to go over budget.</p>

<h3>Development and Production Server Set Up</h3>

<p>This agreement includes set up of a Development and Production server for your project's development and testing prior to launch.</p>

<h3>Additional Services </h3>

<p><strong>This Scope of Work does not include services such as:</strong></p>
<p>Photography </p>
<p>Sourcing and purchasing of stock imagery, video, or illustrations</p>
<p>3rd party application usage or licensing fees</p>
<p>Copywriting/copy editing</p>
<p>New logo/branding</p>
<p>HTML newsletter or email design</p>
<p>Online marketing</p>
<p>Hosting</p>
<p>Website maintenance</p>

<h2>WEBSITE HOSTING, MAINTENANCE &amp; SERVICE RETAINER</h2>

<p>To foster a long term partnership and enhance Client's online presence, within this agreement, BFM will provide an assortment of services, consisting of proactive monthly consulting, technical maintenance and support, hosting and a general services retainer, for a term of 12 months.</p>

<h3>Maintenance</h3>
<h2>Keep Your Business Running Online</h2>

<p>A monthly budget should be allocated towards ongoing maintenance to ensure your website is running, safe and secure.</p>

<h3>Maintenance Services Include:</h3>
 
<p><strong>Monthly Backups</strong></p>
<p>Website code and content will be archived monthly in case of any unforeseen circumstances for safe keeping. </p> 

<p><strong>Weekly Google Analytics Reporting sent to you automatically</strong></p>
<p>Each week, a Google Analytics report will be emailed to Client outlining user behavior metrics including but not limited to page views, bounce rates, number of visitors, etc.</p>

<p><strong>Performance Tracking </strong></p>
<p>Weekly monitoring of memory, hard drive performance and bandwidth usage to ensure proper website and server performance.</p>

<p><strong>Server Security Updates </strong></p>
<p>Update of server operating system to include security and bug fix patches.</p>

<p><strong>Log Monitoring to Ensure Normal Operations</strong></p>
<p>Parsing of log reports for any potential problems which may affect performance.</p>



<h2>Web Modulite License</h2>
<p>Proven technology to meet your website needs</p>

<p>Web Modulite is a proprietary, enterprise-level customized Content Management System framework developed by Blue Fountain Media </p>

<p>Web Modulite is a scalable, solution designed to power highly customized websites, complex e-commerce websites and social media websites. It is also ideally suited for solutions requiring custom features, agile development and/or a scalable infrastructure.  </p>
 
<p>Its notable features include a user-friendly interface, and a robust, modular framework that can handle large user loads and data entries, yet is lightweight on hosting servers. </p>

<p>Web Modulite requires a monthly licensing and usage fee of $100.

<h3>SERVICE RETAINER  </h3>
<p>Access to an Entire Team of Creative, Technology &amp; Marketing Experts </p>

<p>To grow our relationship, BFM offers Service Retainers, outlined below, for a term of 12 months. Your BFM Service Retainer gives you access to a full, dedicated team of online business strategists, creative &amp; technology experts at an affordable rate. </p>

<h3>Services Include</h3>

<p>Ongoing proactive business consultation  to improve your online performance</p>


<p>Social media campaigns, promotions 
& Facebook applications</p>

<p>Website content, features and functionality updates</p>


<p>Banners &amp; other advertising 
creative work</p>

<p>Conversion rate optimization and testing</p>


<p>Infographics &amp; tradeshow presentations</p>

<p>Newsletter &amp; email marketing to increase repeat visits, and brand loyalty</p>


<p>Copywriting &amp; content creation</p>

<p>Full in-house graphic design team for 
print work</p>


<p>Optimization for new browser updates, framework security updates and patches</p>

<p>Video production and editing, presentations &amp; investor demos</p>


<p>Mobile optimization, website and application design and development</p>
<h3>Service Retainer Rates</h3>
<table cellspacing="10" cellpadding="0">
<tr><th>MONTHLY HOURS</th>
<th>W/ RETAINER $125/hr</th>
<th>WITHOUT RETAINER $150/hr</th>
<th>ANNUAL SAVINGS</th></tr>
<tr>
<td>5</td>
<td>$625</td>
<td>$750</td>
<td>$900 </td>
</tr><tr>
<td>10</td>
<td>$1,250</td> 
<td>$1,500</td> 
<td>$3,000</td> 
</tr><tr>
<td>15</td>
<td>$1,875</td> 
<td>$2,250</td> 
<td>$4,500</td> 
</tr><tr>
<td>20</td>
<td>$2,500</td> 
<td>$3,000</td> 
<td>$6,000</td> 
</tr><tr>
<td>50</td>
<td>$6,250</td>
<td>$7,500</td>
<td>$15,000</td>
</tr><tr>
<td>80</td>
<td>$10,000</td>
<td>$12,000</td>
<td>$24,000</td>
</tr><tr>
<td>120</td>
<td>$15,000</td>
<td>$18,000</td>
<td>$36,000</td>
</tr></table>

<p>Your service retainer is based on preselected hours each month which may be used for any service BFM provides.</p>

<p>Your Account Director will proactively offer ideas and suggestions to enhance your online presence on a monthly basis, and will ensure these hours are being used to keep your site fresh and updated. BFM will appoint a date and time for monthly conference calls with Client to review the status of Client's website and online business efforts, to provide counsel and recommendations for improvements to increase performance and conversions.</p>

<p>Each month, your Account Director will recommend best use of your hours for tasks, upgrades, modifications and additional services. </p>

<p>Recommendations will be provided to Client in writing for their review and approval. Unused monthly allocation of hours may be transferred to the next month for up to one month. </p>
