<head>
	<%= stylesheet_link_tag('/css/output.css', :media => :screen) %>
	<%= stylesheet_link_tag('/css/output.css', :media => :print) %>
</head>

<%

#Organize data for output

design_hours = get_hours('design')
design_cost = (design_hours.to_i * @build.hourly_rate.to_i)
frontend_hours = get_hours('frontend')
frontend_cost = (frontend_hours.to_i * @build.hourly_rate.to_i)
cms_hours = get_cms_hours()
cms_cost = get_cms_cost()

stotal_hours = design_hours + frontend_hours + cms_hours
stotal_price = design_cost + frontend_cost + cms_cost

pm_hours = (stotal_hours * @pmcoeff).ceil
pm_cost = pm_hours * @build.hourly_rate.to_i
qa_hours = (stotal_hours * @qacoeff).ceil
qa_cost = qa_hours * @build.hourly_rate.to_i
planning_hours = (stotal_hours * @planningcoeff).ceil
planning_cost = planning_hours * @build.hourly_rate.to_i

gtotal_hours = stotal_hours + pm_hours + qa_hours + planning_hours
gtotal_price = stotal_price + pm_cost + qa_cost + planning_cost

%>

<div id="mainContainer">
	
<%= render 'output/coverpage' %>
<%= render 'output/client_information' %>
<%= render 'output/main_block' %>

<h2>PROJECT TIME &amp; COST</h2>
<table cellpadding="0" cellspacing="0" id="saved_table">
<tr>
	<th class="header">Component</th><th class="header">Hours</th><th class="header">Price</th>
</tr>
<tr>
	<td><p>Design</p></td>
	<td><p><%= design_hours %></p></td>
	<td><p><%= number_to_currency(design_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<td><p>Front End Coding</p></td>
	<td><p><%= frontend_hours %></p></td>
	<td><p><%= number_to_currency(frontend_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<td><p>CMS Features</p></td>
	<td><p><%= cms_hours %></p></td>
	<td><p><%= number_to_currency(cms_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<td><p>QA</p></td>
	<td><p><%= qa_hours %></p></td>
	<td><p><%= number_to_currency(qa_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<td><p>Planning / Discovery</p></td>
	<td><p><%= planning_hours %></p></td>
	<td><p><%= number_to_currency(planning_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<td><p>Project Management</p></td>
	<td><p><%= pm_hours %></p></td>
	<td><p><%= number_to_currency(pm_cost, :unit => '$') %></p></td>
</tr>
<tr>
	<th><p>Grand Total</p></th>
	<th><p><%= gtotal_hours %></p></th>
	<th><p><%= number_to_currency(gtotal_price, :unit => '$') %></p></th>
</tr>
</table>

<h2>WEBSITE PAYMENT TERMS</h2>
<h3>AMOUNT DUE</h3>
<p><strong>Payment 1:</strong> 50% Due to being work and upon endorsement of this agreement
<span class="total_50"><%= number_to_currency(gtotal_price * 0.5) %></span></p>
<p><strong>Payment 2:</strong> 25% Due upon completion of mockups or 2 months after kick-off date; whichever is first
<span class="total_25"><%= number_to_currency(gtotal_price * 0.25) %></span></p>
<p><strong>Payment 3:</strong> 25% Due upon completion of quality assurance testing and prior to launch **
<span class="total_25"><%= number_to_currency(gtotal_price * 0.25) %></span></p>
<p><strong>TOTAL:</strong> <span class="total_100"><%= number_to_currency(gtotal_price, :unit => '$') %></span></p>
<em>**Content transfer and product migration being completed by Client may not delay final payment</em>
<br /><br />
<p>Initials _______________________________________</p><p>	Date _______________________________________</p>

<h2>APPENDIX A: Feature Descriptions</h2>

<h3>Content Management Development (CMS)</h3>

<p>BFM's development team will configure and develop a user-friendly Back-end Content Management System (CMS), customized to service your website with the below features. The CMS will be flexible for future development and can be easily updated or expanded by a qualified web developer in the future. </p>

<h3>Website Features and Capabilities</h3>

<div class="alt_box_c">
<h3>Design Components</h3>
<% @types['design'].each do |d| %>
<% if(is_selected(d.name)) %>
    <% d = check_mod(d) %>
		<h4><%= d.name %></h4>
    <div class="feature_description"><%= d.description.html_safe %></div>
  <% end %>
<% end %>
</div>

<br /><br />

<div class="alt_box_c">
<h3>Front End Components</h3>
<% @types['frontend'].each do |d| %>
<% if(is_selected(d.name)) %>
    <% d = check_mod(d) %>
		<h4><%= d.name %></h4>
    <div class="feature_description"><%= d.description.html_safe %></div>
  <% end %>
<% end %>
</div>

<br /><br />

<div class="alt_box_c">
<h3>CMS Components</h3>
<% @cms[@build.cms_type].each do |d| %>
<% if(is_cms_selected(d.name)) %>
    <% d = check_cms_mod(d) %>
		<h4><%= d.name %></h4>
    <div class="feature_description"><%= d.description.html_safe %></div>
  <% end %>
<% end %>
</div>

<%= render 'output/toe' %>

</div>